{% extends "layout.html" %}
{% block title %}
Task List
{% endblock %}
{% block content %}
  <h2 class="mb-3"><i class="fa-solid fa-pen-to-square"></i> Task Form</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_title" class="form-label">Title:</label>
      {{ form.title }}
    </div>
    <div class="mb-3">
      <label for="id_due_date" class="form-label">Due Date:</label>
      {{ form.due_date }}
    </div>
    <div class="mb-3">
      <label for="id_description" class="form-label">Description:</label>
    </div>
    {{ form.description }}
    <div class="mb-3">
      <label for="id_status" class="form-label">Status:</label>
      {{ form.status }}
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}
